@import '@material/react-drawer/index';
@import './colors';
@import "@material/animation/functions";

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

.drawer {
  background-color: $secondary-color;
}

.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}
